body {
    background-color: '#efefef';
}
.img-responsive {
    max-width: 100%;
    height: auto;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(12deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(9deg);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}
