@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.App {
	text-align: center;
}
body {
	background-color: #edf3f5;
	font-family: 'Roboto Condensed', Verdana, Geneva, Tahoma, sans-serif;
	font-size: large;
}
.Page {
	margin: 0.5em;
	padding: 1em;
	background-color: #fdfdfd;
}
