@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
.NavBar {
	justify-content: center;
}

.NavTitle {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2rem;
	padding: 0 1rem;
	text-align: center;
	color: #020202;
}

.NavItem {
	font-family: 'Josefin Sans', sans-serif;
	padding: 2rem 3rem;
	text-align: center;
}

.NavItemMobile {
	font-family: 'Josefin Sans', sans-serif;
	padding: 1rem 3rem;
	text-align: center;
}

.NavCloseMobile {
	font-family: 'Josefin Sans', sans-serif;
	padding: 0.75rem 0;
	text-align: center;
}

.NavIcon {
	padding: auto 0;
	padding-bottom: 2.5rem;
}

.NavIconMobile {
	padding: 0 0.25rem;
}
