@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
.NavBar {
	justify-content: center;
	position: sticky;
}
.NavTitle {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	color: #020202;
}

.NavItem {
	font-family: 'Josefin Sans', sans-serif;
	padding: 2rem 3rem;
	text-align: center;
}
